{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}


{% block body %}
    <h1>Edit Article</h1>

    <div class="row col-md-10 mx-auto">

        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-dark text-light my-3" href="{{ path('app_article_index') }}">back to list</a>

        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}
